@{
    ViewBag.Title = "Filmes";
    List<Business.Filme> filmes = ViewBag.Filmes;
}


@if (TempData["sucesso"] != null)
{
    <div class="alert alert-success">@TempData["sucesso"]</div>
}

@if (TempData["erro"] != null)
{
    <div class="alert alert-danger">@TempData["erro"]</div>
}

<h2>Filmes</h2>
<div class="jumbotron">
    <table class="table table-hover">
        <thead>
            <tr>

                <th scope="col">Nome</th>
                <th scope="col">Diretor</th>
                <th scope="col">Data Lançamento</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var f in filmes)
            {
                <tr>

                    <td>@f.Nome</td>
                    <td>@f.Diretor</td>
                    <td>@f.DataLancamento.ToString("d")</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a href="/filmes/editar/@f.Id" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></a>
                            <a href="/filmes/excluir/@f.Id" role="button" class="btn btn-danger" onclick="ValidaExclusao(@f.Id, event)"><span class="glyphicon glyphicon-trash"></span></a>
                        </div>
                    </td>

                </tr>
            }
        </tbody>
    </table>
    @if (filmes.Count() == 0)
    {
        <div>
            <p>Nenhum filme cadastrado</p>
        </div>
    }
    <div>
        <a href="/filmes/cadastrar" class="btn btn-default">Cadastrar Filme</a>
    </div>
</div>
